<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838714925259-ak1g1slv0ssj59igrprev20fsf467imk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838714925259-ak1g1slv0ssj59igrprev20fsf467imk</string>
	<key>API_KEY</key>
	<string>AIzaSyAm1kyDGzXEVXwc8XD50kHFVM482iVqKfY</string>
	<key>GCM_SENDER_ID</key>
	<string>838714925259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DetoxFirebaseRepro</string>
	<key>PROJECT_ID</key>
	<string>detoxfirebasereproduction-pd</string>
	<key>STORAGE_BUCKET</key>
	<string>detoxfirebasereproduction-pd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838714925259:ios:e1b47238782a36a8393b4e</string>
</dict>
</plist>